<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">A Propos de cette Application !</h1>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        
    </div>
    <div class="card-body">
        <p class="text-lg text-gray-600"> Pour garantir la traçabilité et le transparence des outils de travail tels que (Ordinateur Portable, Serveur, Onduleur ,  Clavier ....) , la poste Tunisienne a opté 

            vers une solution qui assure ces deux.
             
        </p>
        <p class="text-lg text-gray-600"> Ainsi la Poste Tunisienne pense à ses employées , à travers cette application les employés auront la possiblité
        de commander des nouveaux Matériaux ainsi que signler l'admin si il'y a une panne ou quelque chose pour garantir 
        l'efficacité maximale de nos chers employés qui ont leurs mains dans notre brilliance sur l'échelle nationale et mondiale !    
        </p>
        <p class="text-lg text-gray-600"> On remercie Monsieur Wael Ben Youssef et tous ceux qui ont fait des efforts et aider pour avoir créer cette application.

        </p>
        </div>
        </div>
        </div>
