      
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" [(ngModel)]="typeMat" name="typeMat" class="form-control bg-light border-0 small" placeholder="Rechercher une maintenance...">
            
        </div>
    </form>
      </div>
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Liste des maintenances</h1>
          <a (click)="addmaint()" class="d-none d-sm-inline-block btn btn-sm btn-shit shadow-sm"> Ajouter un maintenance</a>
      </div>

      
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Liste des maintenances</h6>
              </div>
              <div class="card-body">
                  <div class="table-responsive text-center">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>Date de maintenance</th>
                                  <th>Intervenant</th>
                                  <th>Cette maintetnace est issue de</th>
                                  <th>Durée(en heures)</th>
                                  <th>Etat</th>
                                  
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let i of ToShow  | filter : typeMat | orderBy: 'idMaint'">
                                  <td>{{i.idMaint}}</td>
                                  <td>{{i.datemaint | date:'yyyy-MM-dd'}}</td>
                                  <td>{{i.intervenant}}</td>
                                  <td>{{i.issuede}}</td>
                                  <td>{{i.duree}} Heures</td>
                                  <td>{{i.etat}}</td>
                                  <td>
                              <a (click)="detailMaint(i.idMaint)" target="blank" class="btn btn-shit btn-circle btn-sm">
                                            <fa-icon [icon]="faInfoCircle"></fa-icon>
                                        </a></td>
                              </tr> 
                                 
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
 