<div class="container-fluid">
    <div class="container-fluid">
      <h1 class="h3 mb-2 text-gray-800">Détails du matériel</h1>
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Détail</h6>
          </div>
          
          <div class="card-body" *ngIf="mat">
              
            <p>Identifiant du ce Utilisateur : {{mat.id}} </p> 
            <p>Username : {{mat.username}}</p>
            <p>Email : {{mat.email}}</p>
            <!--<p>Le role : {{roles | slice:5:15}}</p>-->
            <p>Il travaille dans le service : {{service}} </p>
            
            <p>Les commandes de cet Utilisateur: </p>
            <div class="table-responsive text-center">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr class="text-gray-800">
                          <th>Identifiant du commande</th>
                          <th>Type du commande</th>
                          <th>Date de Commande</th>
                          <th>Etat de Commande</th>
                          <th>Remarque</th>
                          
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let i of com.commss | orderBy: 'idCom'">
                          <th>{{i.idCom}}</th>
                          <th>{{i.typeCM}}</th>
                          <td>{{i.dateCommande | date:'yyyy-MM-dd'}}</td>
                          <td>{{i.etatdecom}}</td>
                          <td>{{i.remarque}}</td>
                          
                      </tr>    
                  </tbody>
              </table>
          </div>
          <p>Les matériaux de cet Utilisateur: </p>
          <div class="table-responsive text-center">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-gray-800">
                        <th>Identifiant</th>
                        <th>Type du matériel</th>
                        <th>Marque</th>
                        <th>Date De Mise En Ouvre</th>
                        <th>Code à Barre</th>
                        <th>Emplacement</th>
                        <th>Etat</th>
                        <th>Remarque</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let j of map.matss | orderBy: 'idMateriel'">
                      <td>{{j.idMateriel}}</td>
                      <td>{{j.typeMat}}</td>
                      <td>{{j.marque}}</td>
                      <td>{{j.dateDeMiseEnOeuvre | date:'yyyy-MM-dd'}}</td>
                      <td>{{j.codeaBarre}}</td>
                      <td>{{j.emplacement}}</td>
                      <td>{{j.etat}}</td>
                      <td>{{j.remarque}}</td>
                        
                    </tr>    
                </tbody>
            </table>
        </div>
          </div>
          
                  
      </div>
  </div>
</div>

